@charset "UTF-8";
/*---------------Vores variabler---------------*/
/*---------------Vores Inheritances-------------*/
/* line 16, ../../../../../../../../../../../../../Users/johannejustesenpoulsen/Desktop/Multimediedesign/3.semester/Webapp/Fridge-Buddy/scss/style.scss */
.topbar {
  -webkit-box-shadow: 0px 3px 6px 0 rgba(0, 0, 0, 0.16);
  -moz-box-shadow: 0px 3px 6px 0 rgba(0, 0, 0, 0.16);
  box-shadow: 0px 3px 6px 0 rgba(0, 0, 0, 0.16); }

/*---------------Vores Inheritances-------------*/
/* line 27, ../../../../../../../../../../../../../Users/johannejustesenpoulsen/Desktop/Multimediedesign/3.semester/Webapp/Fridge-Buddy/scss/style.scss */
* {
  padding: 0;
  margin: 0; }

/* line 33, ../../../../../../../../../../../../../Users/johannejustesenpoulsen/Desktop/Multimediedesign/3.semester/Webapp/Fridge-Buddy/scss/style.scss */
body {
  overflow-x: hidden; }

/* line 37, ../../../../../../../../../../../../../Users/johannejustesenpoulsen/Desktop/Multimediedesign/3.semester/Webapp/Fridge-Buddy/scss/style.scss */
html {
  font-family: rooney-sans, sans-serif;
  font-style: normal;
  font-weight: 350;
  height: 100%;
  text-align: center;
  width: 100%;
  color: #707070;
  text-transform: uppercase; }

/* line 50, ../../../../../../../../../../../../../Users/johannejustesenpoulsen/Desktop/Multimediedesign/3.semester/Webapp/Fridge-Buddy/scss/style.scss */
h1 {
  font-size: 2em;
  font-weight: 300;
  letter-spacing: 3px; }

/* line 56, ../../../../../../../../../../../../../Users/johannejustesenpoulsen/Desktop/Multimediedesign/3.semester/Webapp/Fridge-Buddy/scss/style.scss */
h4 {
  font-weight: 350; }

/* styling af topbar */
/* line 61, ../../../../../../../../../../../../../Users/johannejustesenpoulsen/Desktop/Multimediedesign/3.semester/Webapp/Fridge-Buddy/scss/style.scss */
.topbar {
  background-color: #818181;
  color: #F6F6F6;
  padding: 20px;
  text-transform: uppercase;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  justify-content: space-around; }

/* line 75, ../../../../../../../../../../../../../Users/johannejustesenpoulsen/Desktop/Multimediedesign/3.semester/Webapp/Fridge-Buddy/scss/style.scss */
.topbar h2 {
  margin: 0;
  font-weight: 300; }

/* line 80, ../../../../../../../../../../../../../Users/johannejustesenpoulsen/Desktop/Multimediedesign/3.semester/Webapp/Fridge-Buddy/scss/style.scss */
.topbar a {
  text-decoration: none;
  position: absolute;
  top: 27px;
  color: #E6E6E6; }

/* line 88, ../../../../../../../../../../../../../Users/johannejustesenpoulsen/Desktop/Multimediedesign/3.semester/Webapp/Fridge-Buddy/scss/style.scss */
.topbar a.right {
  right: 20px; }

/* styling af tabbar */
/* line 93, ../../../../../../../../../../../../../Users/johannejustesenpoulsen/Desktop/Multimediedesign/3.semester/Webapp/Fridge-Buddy/scss/style.scss */
.tabbar {
  background-color: #818181;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 9999; }
  /* line 101, ../../../../../../../../../../../../../Users/johannejustesenpoulsen/Desktop/Multimediedesign/3.semester/Webapp/Fridge-Buddy/scss/style.scss */
  .tabbar img {
    height: 40px;
    width: auto; }

/* Style på og omkring links i baren */
/* line 108, ../../../../../../../../../../../../../Users/johannejustesenpoulsen/Desktop/Multimediedesign/3.semester/Webapp/Fridge-Buddy/scss/style.scss */
.tabbar a {
  display: inline-block;
  padding: 10px 26px; }

/* style ved hover */
/* line 115, ../../../../../../../../../../../../../Users/johannejustesenpoulsen/Desktop/Multimediedesign/3.semester/Webapp/Fridge-Buddy/scss/style.scss */
.tabbar a:hover {
  background-color: #E6E6E6; }

/* style når en side er aktiv*/
/* line 120, ../../../../../../../../../../../../../Users/johannejustesenpoulsen/Desktop/Multimediedesign/3.semester/Webapp/Fridge-Buddy/scss/style.scss */
.tabbar a.active {
  background-color: #E6E6E6; }

/* line 124, ../../../../../../../../../../../../../Users/johannejustesenpoulsen/Desktop/Multimediedesign/3.semester/Webapp/Fridge-Buddy/scss/style.scss */
.page {
  display: none;
  /*min heigh is screen heigh minus height of tab and top bar */
  min-height: calc(100vh - 128px);
  animation: fadeIn 0.4s;
  /* padding equals height of tabbar and topbar */
  padding: 65px 0;
  margin: 0 3%; }

/* ---------- animations ---------- */
/* fade in */
@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

/* FRIDGE SECTION */
/* line 149, ../../../../../../../../../../../../../Users/johannejustesenpoulsen/Desktop/Multimediedesign/3.semester/Webapp/Fridge-Buddy/scss/style.scss */
#add-button {
  width: 64px;
  height: 64px;
  background-color: #fafafa;
  border: 2px solid #818181;
  border-radius: 100px;
  position: absolute;
  bottom: 70px;
  right: 20px;
  box-shadow: 5px 5px 20px 0px rgba(0, 0, 0, 0.2);
  font-size: 40px;
  font-weight: 500;
  z-index: 100; }
  /* line 163, ../../../../../../../../../../../../../Users/johannejustesenpoulsen/Desktop/Multimediedesign/3.semester/Webapp/Fridge-Buddy/scss/style.scss */
  #add-button p {
    display: flex;
    height: 64px;
    justify-content: center;
    align-items: center;
    color: #3b3b3b; }

/* line 175, ../../../../../../../../../../../../../Users/johannejustesenpoulsen/Desktop/Multimediedesign/3.semester/Webapp/Fridge-Buddy/scss/style.scss */
.rotate-trans {
  transition-duration: 200ms;
  transform: rotate(45deg); }

/* line 180, ../../../../../../../../../../../../../Users/johannejustesenpoulsen/Desktop/Multimediedesign/3.semester/Webapp/Fridge-Buddy/scss/style.scss */
.add-button-menu {
  display: none;
  position: absolute;
  background-color: white;
  border: 2px solid #818181;
  border-radius: 25px;
  width: 80%;
  padding: 3%;
  top: 80px;
  right: 25px;
  bottom: 75px;
  transform-origin: bottom right;
  /*
  
  
  height: 76vh;
  margin: 3.5%;
  
 */ }

/* line 201, ../../../../../../../../../../../../../Users/johannejustesenpoulsen/Desktop/Multimediedesign/3.semester/Webapp/Fridge-Buddy/scss/style.scss */
.add-dato {
  display: none;
  align-items: center; }

/* line 208, ../../../../../../../../../../../../../Users/johannejustesenpoulsen/Desktop/Multimediedesign/3.semester/Webapp/Fridge-Buddy/scss/style.scss */
.add-menu-animation {
  animation-name: open-menu;
  animation-duration: 0.3s;
  transform-origin: bottom right; }

@keyframes open-menu {
  from {
    opacity: 0;
    transform: scale(0); }
  to {
    opacity: 1;
    transform: scale(1); } }

/* line 225, ../../../../../../../../../../../../../Users/johannejustesenpoulsen/Desktop/Multimediedesign/3.semester/Webapp/Fridge-Buddy/scss/style.scss */
.highlight {
  background-color: #E6E6E6; }
  /* line 227, ../../../../../../../../../../../../../Users/johannejustesenpoulsen/Desktop/Multimediedesign/3.semester/Webapp/Fridge-Buddy/scss/style.scss */
  .highlight p {
    color: #818181; }

/* ---------- HIDE ---------- */
/* line 233, ../../../../../../../../../../../../../Users/johannejustesenpoulsen/Desktop/Multimediedesign/3.semester/Webapp/Fridge-Buddy/scss/style.scss */
.hide {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 0.4s, opacity 0.4s linear; }

/* ---------- authentication styling ---------- */
/* line 240, ../../../../../../../../../../../../../Users/johannejustesenpoulsen/Desktop/Multimediedesign/3.semester/Webapp/Fridge-Buddy/scss/style.scss */
#firebaseui-auth-container {
  position: absolute;
  top: 50%;
  width: 100%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%); }

/* line 248, ../../../../../../../../../../../../../Users/johannejustesenpoulsen/Desktop/Multimediedesign/3.semester/Webapp/Fridge-Buddy/scss/style.scss */
.firebaseui-container {
  font-family: var(--font-family);
  font: 16px var(--font-family); }

/* line 253, ../../../../../../../../../../../../../Users/johannejustesenpoulsen/Desktop/Multimediedesign/3.semester/Webapp/Fridge-Buddy/scss/style.scss */
.firebaseui-title {
  text-align: center;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 2px; }

/* line 260, ../../../../../../../../../../../../../Users/johannejustesenpoulsen/Desktop/Multimediedesign/3.semester/Webapp/Fridge-Buddy/scss/style.scss */
.mdl-button--raised.mdl-button--colored,
.mdl-button--raised.mdl-button--colored:active,
.mdl-button--raised.mdl-button--colored:hover {
  background: var(--green);
  color: #fff;
  border-radius: 0; }

/* line 268, ../../../../../../../../../../../../../Users/johannejustesenpoulsen/Desktop/Multimediedesign/3.semester/Webapp/Fridge-Buddy/scss/style.scss */
.firebaseui-textfield.mdl-textfield .firebaseui-label::after {
  background-color: var(--green); }

/* ---------- profile ---------- */
/* line 273, ../../../../../../../../../../../../../Users/johannejustesenpoulsen/Desktop/Multimediedesign/3.semester/Webapp/Fridge-Buddy/scss/style.scss */
.profil-oplysninger {
  display: flex;
  margin-top: 10%;
  width: 98%;
  height: 60vh;
  border-style: solid;
  border-color: grey;
  border-radius: 25px;
  text-align: left;
  flex-direction: column;
  justify-content: center; }

/* line 286, ../../../../../../../../../../../../../Users/johannejustesenpoulsen/Desktop/Multimediedesign/3.semester/Webapp/Fridge-Buddy/scss/style.scss */
.profil-oplysninger img {
  width: 12%;
  align-content: center; }

/* line 291, ../../../../../../../../../../../../../Users/johannejustesenpoulsen/Desktop/Multimediedesign/3.semester/Webapp/Fridge-Buddy/scss/style.scss */
.line {
  width: 66%;
  border-bottom: 1px solid black; }

/* line 296, ../../../../../../../../../../../../../Users/johannejustesenpoulsen/Desktop/Multimediedesign/3.semester/Webapp/Fridge-Buddy/scss/style.scss */
.profil-oplysninger h5 {
  text-transform: uppercase;
  margin: 1% 0;
  font-size: 1.1em; }

/* line 302, ../../../../../../../../../../../../../Users/johannejustesenpoulsen/Desktop/Multimediedesign/3.semester/Webapp/Fridge-Buddy/scss/style.scss */
.profil-oplysninger h3 {
  font-size: 1.2em; }

/* line 306, ../../../../../../../../../../../../../Users/johannejustesenpoulsen/Desktop/Multimediedesign/3.semester/Webapp/Fridge-Buddy/scss/style.scss */
.profil-oplysninger p {
  font-size: 1.2em; }

/* line 310, ../../../../../../../../../../../../../Users/johannejustesenpoulsen/Desktop/Multimediedesign/3.semester/Webapp/Fridge-Buddy/scss/style.scss */
.profil-oplysninger article {
  margin: 7% 0;
  display: flex;
  align-items: center;
  flex-direction: column; }

/* line 317, ../../../../../../../../../../../../../Users/johannejustesenpoulsen/Desktop/Multimediedesign/3.semester/Webapp/Fridge-Buddy/scss/style.scss */
#profil_center {
  margin: 0; }

/* ---------- SHOPLIST---------- */
/* line 323, ../../../../../../../../../../../../../Users/johannejustesenpoulsen/Desktop/Multimediedesign/3.semester/Webapp/Fridge-Buddy/scss/style.scss */
#shoplist_baggrund {
  background-image: url("../../images/indkoebsseddel.svg");
  height: 60vh;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat; }

/* The container */
/* line 332, ../../../../../../../../../../../../../Users/johannejustesenpoulsen/Desktop/Multimediedesign/3.semester/Webapp/Fridge-Buddy/scss/style.scss */
.container {
  top: 15%;
  left: 13%;
  transform: translate(-10%, -10%);
  width: 80%;
  max-width: 300px;
  height: 10vh;
  border-style: solid;
  border-color: grey;
  border-radius: 25px;
  padding: 0 5%;
  position: relative;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  font-size: 1em; }

/* line 353, ../../../../../../../../../../../../../Users/johannejustesenpoulsen/Desktop/Multimediedesign/3.semester/Webapp/Fridge-Buddy/scss/style.scss */
#shoplist_baggrund div {
  margin-top: 10%; }

/* Hide the browser's default checkbox */
/* line 358, ../../../../../../../../../../../../../Users/johannejustesenpoulsen/Desktop/Multimediedesign/3.semester/Webapp/Fridge-Buddy/scss/style.scss */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
  background-color: #818181; }

/* Create a custom checkbox */
/* line 368, ../../../../../../../../../../../../../Users/johannejustesenpoulsen/Desktop/Multimediedesign/3.semester/Webapp/Fridge-Buddy/scss/style.scss */
.checkmark {
  position: absolute;
  top: 30%;
  left: 80%;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 5px;
  border: solid 0.5px;
  border-color: #E6E6E6; }

/* On mouse-over, add a grey background color */
/* line 381, ../../../../../../../../../../../../../Users/johannejustesenpoulsen/Desktop/Multimediedesign/3.semester/Webapp/Fridge-Buddy/scss/style.scss */
.container:hover input ~ .checkmark {
  background-color: #818181; }

/* When the checkbox is checked, add a blue background */
/* line 386, ../../../../../../../../../../../../../Users/johannejustesenpoulsen/Desktop/Multimediedesign/3.semester/Webapp/Fridge-Buddy/scss/style.scss */
.container input:checked ~ .checkmark {
  background-color: #818181; }

/* Create the checkmark/indicator (hidden when not checked) */
/* line 391, ../../../../../../../../../../../../../Users/johannejustesenpoulsen/Desktop/Multimediedesign/3.semester/Webapp/Fridge-Buddy/scss/style.scss */
.checkmark:after {
  content: "";
  position: absolute;
  display: none; }

/* Show the checkmark when checked */
/* line 398, ../../../../../../../../../../../../../Users/johannejustesenpoulsen/Desktop/Multimediedesign/3.semester/Webapp/Fridge-Buddy/scss/style.scss */
.container input:checked ~ .checkmark:after {
  display: block; }

/* Style the checkmark/indicator */
/* line 403, ../../../../../../../../../../../../../Users/johannejustesenpoulsen/Desktop/Multimediedesign/3.semester/Webapp/Fridge-Buddy/scss/style.scss */
.container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg); }

/* line 415, ../../../../../../../../../../../../../Users/johannejustesenpoulsen/Desktop/Multimediedesign/3.semester/Webapp/Fridge-Buddy/scss/style.scss */
.shop_knap {
  width: 33%;
  height: 6vh;
  background-color: grey;
  border-radius: 12px;
  padding: 0 4%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center; }

/* line 428, ../../../../../../../../../../../../../Users/johannejustesenpoulsen/Desktop/Multimediedesign/3.semester/Webapp/Fridge-Buddy/scss/style.scss */
#flex_shop {
  display: flex;
  flex-direction: row;
  margin-top: 3%; }

/* line 434, ../../../../../../../../../../../../../Users/johannejustesenpoulsen/Desktop/Multimediedesign/3.semester/Webapp/Fridge-Buddy/scss/style.scss */
#flex_shop div {
  margin: 0 2%; }

/* line 438, ../../../../../../../../../../../../../Users/johannejustesenpoulsen/Desktop/Multimediedesign/3.semester/Webapp/Fridge-Buddy/scss/style.scss */
.skraldespand {
  width: 100%;
  height: 5vh; }

/* line 442, ../../../../../../../../../../../../../Users/johannejustesenpoulsen/Desktop/Multimediedesign/3.semester/Webapp/Fridge-Buddy/scss/style.scss */
.skraldespand img {
  height: 4vh;
  float: right;
  margin-right: 7%; }

/* ---------- Indhold køleskab---------- */
/* line 448, ../../../../../../../../../../../../../Users/johannejustesenpoulsen/Desktop/Multimediedesign/3.semester/Webapp/Fridge-Buddy/scss/style.scss */
#indhold-skraldespand {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  padding: 0 6% 0 3%;
  margin-top: 5%; }

/* line 456, ../../../../../../../../../../../../../Users/johannejustesenpoulsen/Desktop/Multimediedesign/3.semester/Webapp/Fridge-Buddy/scss/style.scss */
#indhold-skraldespand img {
  width: 8%;
  height: 5vh; }

/* line 461, ../../../../../../../../../../../../../Users/johannejustesenpoulsen/Desktop/Multimediedesign/3.semester/Webapp/Fridge-Buddy/scss/style.scss */
#indhold-skraldespand h3 {
  text-transform: uppercase;
  text-align: left;
  font-size: 1.8em;
  font-family: abolition, sans-serif;
  font-style: normal;
  font-weight: 400;
  color: #5D5A5A;
  letter-spacing: 2px; }

/* line 473, ../../../../../../../../../../../../../Users/johannejustesenpoulsen/Desktop/Multimediedesign/3.semester/Webapp/Fridge-Buddy/scss/style.scss */
.mad {
  display: flex;
  width: 90%;
  height: 10vh;
  border-style: solid;
  border-color: grey;
  border-radius: 25px;
  margin-top: 2%;
  justify-content: space-between;
  padding: 0 5%;
  align-items: center; }

/* line 487, ../../../../../../../../../../../../../Users/johannejustesenpoulsen/Desktop/Multimediedesign/3.semester/Webapp/Fridge-Buddy/scss/style.scss */
.mad h4 {
  font-size: 1.3em; }

/* line 491, ../../../../../../../../../../../../../Users/johannejustesenpoulsen/Desktop/Multimediedesign/3.semester/Webapp/Fridge-Buddy/scss/style.scss */
.madvarer {
  max-width: 100%;
  justify-content: center;
  display: flex; }

/* line 497, ../../../../../../../../../../../../../Users/johannejustesenpoulsen/Desktop/Multimediedesign/3.semester/Webapp/Fridge-Buddy/scss/style.scss */
.madvarer img {
  width: 9%;
  height: 9vh; }

/* line 502, ../../../../../../../../../../../../../Users/johannejustesenpoulsen/Desktop/Multimediedesign/3.semester/Webapp/Fridge-Buddy/scss/style.scss */
.cirkler {
  border: 2px solid #818181;
  border-radius: 100px;
  margin-top: 10%;
  width: 30px;
  height: 30px; }

/* line 510, ../../../../../../../../../../../../../Users/johannejustesenpoulsen/Desktop/Multimediedesign/3.semester/Webapp/Fridge-Buddy/scss/style.scss */
#flex-cirkler {
  display: flex;
  justify-content: space-between;
  margin: 0 15%;
  margin-top: 5%; }

/* line 517, ../../../../../../../../../../../../../Users/johannejustesenpoulsen/Desktop/Multimediedesign/3.semester/Webapp/Fridge-Buddy/scss/style.scss */
.udløbet {
  background-color: #DDA7A7; }

/* line 521, ../../../../../../../../../../../../../Users/johannejustesenpoulsen/Desktop/Multimediedesign/3.semester/Webapp/Fridge-Buddy/scss/style.scss */
.udløber {
  background-color: #E0DAAB; }

/* line 526, ../../../../../../../../../../../../../Users/johannejustesenpoulsen/Desktop/Multimediedesign/3.semester/Webapp/Fridge-Buddy/scss/style.scss */
.frisk {
  background-color: #C9DDCA; }

/* line 531, ../../../../../../../../../../../../../Users/johannejustesenpoulsen/Desktop/Multimediedesign/3.semester/Webapp/Fridge-Buddy/scss/style.scss */
#flex-cirkler article {
  display: flex;
  align-items: center;
  flex-direction: column; }

/* line 537, ../../../../../../../../../../../../../Users/johannejustesenpoulsen/Desktop/Multimediedesign/3.semester/Webapp/Fridge-Buddy/scss/style.scss */
#flex-cirkler p {
  text-transform: uppercase;
  margin-top: 15%; }

/* line 543, ../../../../../../../../../../../../../Users/johannejustesenpoulsen/Desktop/Multimediedesign/3.semester/Webapp/Fridge-Buddy/scss/style.scss */
.page_overskrift {
  text-transform: uppercase;
  margin-top: 10%;
  font-family: abolition, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 2.5em;
  color: #5D5A5A;
  letter-spacing: 2px; }

/* RECIPEEEEEEEEEEEEEEEES */
/* line 555, ../../../../../../../../../../../../../Users/johannejustesenpoulsen/Desktop/Multimediedesign/3.semester/Webapp/Fridge-Buddy/scss/style.scss */
#recipe h1 {
  margin-top: 15px; }

/* line 560, ../../../../../../../../../../../../../Users/johannejustesenpoulsen/Desktop/Multimediedesign/3.semester/Webapp/Fridge-Buddy/scss/style.scss */
#recipe-container {
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  height: auto; }
  /* line 569, ../../../../../../../../../../../../../Users/johannejustesenpoulsen/Desktop/Multimediedesign/3.semester/Webapp/Fridge-Buddy/scss/style.scss */
  #recipe-container img {
    width: 100%;
    height: auto;
    border: 2px solid #818181;
    border-radius: 7px; }
  /* line 576, ../../../../../../../../../../../../../Users/johannejustesenpoulsen/Desktop/Multimediedesign/3.semester/Webapp/Fridge-Buddy/scss/style.scss */
  #recipe-container p {
    height: 94px; }

/* line 581, ../../../../../../../../../../../../../Users/johannejustesenpoulsen/Desktop/Multimediedesign/3.semester/Webapp/Fridge-Buddy/scss/style.scss */
.children {
  width: 46%;
  max-width: 400px;
  height: auto;
  padding: 2% 2%;
  text-align: left; }

/* line 589, ../../../../../../../../../../../../../Users/johannejustesenpoulsen/Desktop/Multimediedesign/3.semester/Webapp/Fridge-Buddy/scss/style.scss */
.recipesearch {
  border: 1px solid #818181;
  border-radius: 7px;
  color: #818181;
  width: 90%;
  margin: 15px 5% 15px 5%; }

/* line 597, ../../../../../../../../../../../../../Users/johannejustesenpoulsen/Desktop/Multimediedesign/3.semester/Webapp/Fridge-Buddy/scss/style.scss */
input,
select {
  -webkit-appearance: none;
  width: 90%;
  max-width: 350px;
  padding: 12px 12px;
  box-sizing: border-box;
  display: block;
  border: 0;
  border-radius: 0; }

/* loader */
/* ---------- loader styling ---------- */
/* line 613, ../../../../../../../../../../../../../Users/johannejustesenpoulsen/Desktop/Multimediedesign/3.semester/Webapp/Fridge-Buddy/scss/style.scss */
#loader {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999999999;
  overflow: hidden;
  background-color: none;
  text-align: center; }

/* line 625, ../../../../../../../../../../../../../Users/johannejustesenpoulsen/Desktop/Multimediedesign/3.semester/Webapp/Fridge-Buddy/scss/style.scss */
.spinner {
  border: 5px solid #818181;
  border-radius: 50%;
  border-top: 5px solid #818181;
  width: 50px;
  height: 50px;
  -webkit-animation: spin 1s linear infinite;
  /* Safari */
  animation: spin 1s linear infinite;
  display: inline-block;
  vertical-align: middle;
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0; }

@keyframes spin {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

/*# sourceMappingURL=style.css.map */