@charset "UTF-8";
/*---------------Vores variabler---------------*/
/*---------------Vores Inheritances-------------*/
/* line 16, ../../../3 sem/Web App SPA/Fridge-Buddy/scss/style.scss */
.topbar {
  -webkit-box-shadow: 0px 3px 6px 0 rgba(0, 0, 0, 0.16);
  -moz-box-shadow: 0px 3px 6px 0 rgba(0, 0, 0, 0.16);
  box-shadow: 0px 3px 6px 0 rgba(0, 0, 0, 0.16); }

/*---------------Vores Inheritances-------------*/
/* line 26, ../../../3 sem/Web App SPA/Fridge-Buddy/scss/style.scss */
* {
  padding: 0;
  margin: 0; }

/* line 33, ../../../3 sem/Web App SPA/Fridge-Buddy/scss/style.scss */
html {
  font-family: Helvetica, Arial, sans-serif;
  height: 100%;
  text-align: center;
  width: 100%;
  font-weight: 200; }

/* line 42, ../../../3 sem/Web App SPA/Fridge-Buddy/scss/style.scss */
h1 {
  font-size: 2em;
  font-weight: 300;
  letter-spacing: 3px; }

/* styling af topbar */
/* line 49, ../../../3 sem/Web App SPA/Fridge-Buddy/scss/style.scss */
.topbar {
  background-color: #818181;
  color: #F6F6F6;
  padding: 20px;
  text-transform: uppercase;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  justify-content: space-around; }

/* line 63, ../../../3 sem/Web App SPA/Fridge-Buddy/scss/style.scss */
.topbar h2 {
  margin: 0;
  font-weight: 300; }

/* styling af tabbar */
/* line 69, ../../../3 sem/Web App SPA/Fridge-Buddy/scss/style.scss */
.tabbar {
  background-color: #818181;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 9999; }
  /* line 76, ../../../3 sem/Web App SPA/Fridge-Buddy/scss/style.scss */
  .tabbar img {
    height: 40px;
    width: auto; }

/* Style på og omkring links i baren */
/* line 83, ../../../3 sem/Web App SPA/Fridge-Buddy/scss/style.scss */
.tabbar a {
  display: inline-block;
  padding: 10px 26px; }

/* style ved hover */
/* line 90, ../../../3 sem/Web App SPA/Fridge-Buddy/scss/style.scss */
.tabbar a:hover {
  background-color: #E6E6E6; }

/* style når en side er aktiv*/
/* line 95, ../../../3 sem/Web App SPA/Fridge-Buddy/scss/style.scss */
.tabbar a.active {
  background-color: #E6E6E6; }

/* line 99, ../../../3 sem/Web App SPA/Fridge-Buddy/scss/style.scss */
.page {
  display: none;
  /*min heigh is screen heigh minus height of tab and top bar */
  min-height: calc(100vh - 128px);
  animation: fadeIn 0.4s;
  /* padding equals height of tabbar and topbar */
  padding: 64px 0; }

/* ---------- animations ---------- */
/* fade in */
@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

/* FRIDGE SECTION */
/* line 122, ../../../3 sem/Web App SPA/Fridge-Buddy/scss/style.scss */
#add-button {
  width: 64px;
  height: 64px;
  background-color: #fafafa;
  border: 2px solid #818181;
  border-radius: 100px;
  position: absolute;
  bottom: 70px;
  right: 20px;
  box-shadow: 5px 5px 20px 0px rgba(0, 0, 0, 0.2);
  font-size: 40px;
  font-weight: 500; }
  /* line 135, ../../../3 sem/Web App SPA/Fridge-Buddy/scss/style.scss */
  #add-button p {
    display: flex;
    height: 64px;
    justify-content: center;
    align-items: center;
    color: #3b3b3b; }

/* line 147, ../../../3 sem/Web App SPA/Fridge-Buddy/scss/style.scss */
.rotate-trans {
  transition-duration: 200ms;
  transform: rotate(45deg); }

/* line 152, ../../../3 sem/Web App SPA/Fridge-Buddy/scss/style.scss */
#add-button-menu {
  display: none; }

/* ---------- HIDE ---------- */
/* line 157, ../../../3 sem/Web App SPA/Fridge-Buddy/scss/style.scss */
.hide {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 0.4s, opacity 0.4s linear; }

/* ---------- authentication styling ---------- */
/* line 164, ../../../3 sem/Web App SPA/Fridge-Buddy/scss/style.scss */
#firebaseui-auth-container {
  position: absolute;
  top: 50%;
  width: 100%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%); }

/* line 172, ../../../3 sem/Web App SPA/Fridge-Buddy/scss/style.scss */
.firebaseui-container {
  font-family: var(--font-family);
  font: 16px var(--font-family); }

/* line 177, ../../../3 sem/Web App SPA/Fridge-Buddy/scss/style.scss */
.firebaseui-title {
  text-align: center;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 2px; }

/* line 184, ../../../3 sem/Web App SPA/Fridge-Buddy/scss/style.scss */
.mdl-button--raised.mdl-button--colored,
.mdl-button--raised.mdl-button--colored:active,
.mdl-button--raised.mdl-button--colored:hover {
  background: var(--green);
  color: #fff;
  border-radius: 0; }

/* line 192, ../../../3 sem/Web App SPA/Fridge-Buddy/scss/style.scss */
.firebaseui-textfield.mdl-textfield .firebaseui-label::after {
  background-color: var(--green); }

/*# sourceMappingURL=style.css.map */