/*---------------Vores variabler---------------*/
$red: #DDA7A7;
$green: #C9DDCA;
$yellow: #E0DAAB;
$topbar: #F6F6F6;
$lightgrey: #E6E6E6;
$darkgrey: #818181;

/*---------------Vores Inheritances-------------*/
%center {
  display: flex;
  align-items: center;
  justify-content: center;
}

%shadow {
  -webkit-box-shadow: 0px 3px 6px 0 rgba(0, 0, 0, 0.16);
  -moz-box-shadow: 0px 3px 6px 0 rgba(0, 0, 0, 0.16);
  box-shadow: 0px 3px 6px 0 rgba(0, 0, 0, 0.16);
}
/*---------------Vores Inheritances-------------*/

//////////////////////////////////////////////////////////////////////


* {
  margin: 0;
  padding: 0;
}


html {
  font-family: Helvetica, Arial, sans-serif;
  height: 100%;
  text-align: center;
  width: 100%;
  font-weight: 200;
}


h1 {
  font-size: 2em;
  font-weight: 300;
  letter-spacing: 3px;
}

/* styling af topbar */
.topbar {
  background-color: $darkgrey;
  color: $topbar;
  padding: 20px;
  text-transform: uppercase;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  @extend %shadow;
  justify-content: space-around;
}

.topbar h2 {
  margin: 0;
  font-weight: 300;
}

/* styling af tabbar */
.tabbar {
  background-color: $darkgrey;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  img{
    height: 40px;
    width: auto;
  }
}

/* Style på og omkring links i baren */
.tabbar a {
  display: inline-block;
  padding: 10px 26px;

}

/* style ved hover */
.tabbar a:hover {
  background-color: $lightgrey;
}

/* style når en side er aktiv*/
.tabbar a.active {
  background-color: $lightgrey;
}


/* FRIDGE SECTION */
#add-button{
    width: 64px;
    height: 64px;
    background-color: #fafafa;
    border: 2px solid #818181;
    border-radius: 100px;
    position: absolute;
    bottom: 70px;
    right: 20px;
    box-shadow: 5px 5px 20px 0px rgba(0,0,0,0.20);
    font-size: 40px;
    font-weight: 500;

    p{
        display: flex;
        height: 64px;
        justify-content: center;
        align-items: center;
        color: #3b3b3b;


    }

}

.rotate-trans{
    transition: 200;
    transform: rotate(45deg)
}
