/*---------------Vores variabler---------------*/
$red: #DDA7A7;
$green: #C9DDCA;
$yellow: #E0DAAB;
$topbar: #F6F6F6;
$lightgrey: #E6E6E6;
$darkgrey: #818181;

/*---------------Vores Inheritances-------------*/
%center {
  display: flex;
  align-items: center;
  justify-content: center;
}

%shadow {
  -webkit-box-shadow: 0px 3px 6px 0 rgba(0, 0, 0, 0.16);
  -moz-box-shadow: 0px 3px 6px 0 rgba(0, 0, 0, 0.16);
  box-shadow: 0px 3px 6px 0 rgba(0, 0, 0, 0.16);
}

/*---------------Vores Inheritances-------------*/

//////////////////////////////////////////////////////////////////////


* {
  padding: 0;
  margin: 0;

}

body{
  overflow-x: hidden;
}

html {
  font-family: Helvetica, Arial, sans-serif;
  height: 100%;
  text-align: center;
  width: 100%;
  font-weight: 200;

}


h1 {
  font-size: 2em;
  font-weight: 300;
  letter-spacing: 3px;
}

/* styling af topbar */
.topbar {
  background-color: $darkgrey;
  color: $topbar;
  padding: 20px;
  text-transform: uppercase;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  @extend %shadow;
  justify-content: space-around;
}

.topbar h2 {
  margin: 0;
  font-weight: 300;
}

.topbar a {
  text-decoration: none;
  position: absolute;
  top: 27px;
  color: $lightgrey ;
}


.topbar a.right {
    right: 20px;}

/* styling af tabbar */
.tabbar {
  background-color: $darkgrey;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 9999;

  img {
    height: 40px;
    width: auto;
  }
}

/* Style på og omkring links i baren */
.tabbar a {
  display: inline-block;
  padding: 10px 26px;

}

/* style ved hover */
.tabbar a:hover {
  background-color: $lightgrey;
}

/* style når en side er aktiv*/
.tabbar a.active {
  background-color: $lightgrey;
}

.page {
  display: none;
  /*min heigh is screen heigh minus height of tab and top bar */
  min-height: calc(100vh - 128px);
  animation: fadeIn 0.4s;
  /* padding equals height of tabbar and topbar */
padding: 65px 0;
  margin: 0 3%;
}


/* ---------- animations ---------- */
/* fade in */
@keyframes fadeIn {
  from {
    opacity: 0
  }

  to {
    opacity: 1
  }
}


/* FRIDGE SECTION */
#add-button {
  width: 64px;
  height: 64px;
  background-color: #fafafa;
  border: 2px solid #818181;
  border-radius: 100px;
  position: absolute;
  bottom: 70px;
  right: 20px;
  box-shadow: 5px 5px 20px 0px rgba(0, 0, 0, 0.20);
  font-size: 40px;
  font-weight: 500;
  z-index: 100;

  p {
    display: flex;
    height: 64px;
    justify-content: center;
    align-items: center;
    color: #3b3b3b;


  }

}

.rotate-trans {
  transition-duration: 200ms;
  transform: rotate(45deg)
}

.add-button-menu {
  display: none;
  position: absolute;
  top: 80px;
  background-color: white;
  border: 2px solid $darkgrey;
  border-radius: 25px;
  width: 80%;
  height: 76vh;
  margin: 3.5%;
  padding: 3%;

}

.add-dato{
    display: none;
    align-items: center;
}

.highlight{
    background-color: $lightgrey;
}

/* ---------- HIDE ---------- */
.hide {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 0.4s, opacity 0.4s linear;
}

/* ---------- authentication styling ---------- */
#firebaseui-auth-container {
  position: absolute;
  top: 50%;
  width: 100%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.firebaseui-container {
  font-family: var(--font-family);
  font: 16px var(--font-family);
}

.firebaseui-title {
  text-align: center;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.mdl-button--raised.mdl-button--colored,
.mdl-button--raised.mdl-button--colored:active,
.mdl-button--raised.mdl-button--colored:hover {
  background: var(--green);
  color: #fff;
  border-radius: 0;
}

.firebaseui-textfield.mdl-textfield .firebaseui-label::after {
  background-color: var(--green);
}

/* ---------- profile ---------- */
.profil-oplysninger {
  display: flex;
  margin-top: 10%;
  width: 98%;
  height: 60vh;
  border-style: solid;
  border-color: grey;
  border-radius: 25px;
  text-align: left;
  flex-direction: column;
  justify-content: center;
}

.profil-oplysninger img {
  width: 12%; align-content: center;
}

.line{
  width: 66%;
  border-bottom: 1px solid black;
  }

.profil-oplysninger h5 {
  text-transform: uppercase; margin: 1% 0; font-size: 1.1em;
}

.profil-oplysninger h3 {
  font-size: 1.2em;
}

.profil-oplysninger p {
  font-size: 1.2em;
}

.profil-oplysninger article {
  margin: 7% 0;
  display:flex;
 align-items: center;
  flex-direction: column;
}

#profil_center {
  margin: 0;
}

/* ---------- Indhold køleskab---------- */

#indhold-skraldespand {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  padding: 0 6% 0 3%;
  margin-top: 5%;
}

#indhold-skraldespand img {
  width: 8%; height: 5vh;
}

#indhold-skraldespand h3 {
  text-transform: uppercase;
  text-align: left;
  font-size: 1.3em;
}

.mad {
  display: flex;
  width: 90%;
  height: 10vh;
  border-style: solid;
  border-color: grey;
  border-radius: 25px;
  margin-top: 2%;
  justify-content: space-between;
  padding: 0 5%;
  align-items: center;

}

.mad h4 {
  font-size: 1.3em;
}

.madvarer {
  max-width: 100%;
  justify-content: center;
  display: flex;
}

.madvarer img {
  width: 9%;
  height: 9vh;
}

.cirkler {
  border: 2px solid #818181;
  border-radius: 100px;
  margin-top: 10%;
  width: 30px;
  height: 30px;
}

#flex-cirkler {
  display: flex;
  justify-content: space-between;
  margin: 0 15%;
  margin-top: 5%;
}

.udløbet {
  background-color: $red;
}

.udløber {
  background-color: $yellow;

}

.frisk {
  background-color: $green;

}

#flex-cirkler article {
  display: flex;
  align-items: center;
  flex-direction: column;
}

#flex-cirkler p {
  text-transform: uppercase;
  margin-top: 15%;
  ;
}

.page_overskrift {
  text-transform: uppercase;
  margin-top: 10%;
}

/* RECIPEEEEEEEEEEEEEEEES */
#recipe{
  h1{
    margin-top: 15px;
  }
}

#recipe-container {
  margin-top: 30px;
display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: center;
width: 100%;
height: auto;
  img {
    width: 100%;
    height: auto;
    border: 2px solid $darkgrey;
    border-radius: 7px;
  }
  p {
    height: 94px;
  }
}

.children {
  width: 46%; max-width: 400px;
  height: auto;
  padding: 2% 2%;
  text-align: left;
}

.recipesearch{
  border: 1px solid $darkgrey;
  border-radius: 7px;
  color: $darkgrey;
  width: 90%;
  margin: 15px 5% 15px 5%;
}

input, select {
  -webkit-appearance: none;
  width: 90%;
  max-width: 350px;
  padding: 12px 12px;
  box-sizing: border-box;
  display: block;
  background: #fff;
  border: 0;
  border-radius: 0;
}



/* loader */
/* ---------- loader styling ---------- */
#loader {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999999999;
  overflow: hidden;
  background-color: none;
  text-align: center;
}

.spinner {
  border: 5px solid $darkgrey;
  ;
  border-radius: 50%;
  border-top: 5px solid $darkgrey;
  width: 50px;
  height: 50px;
  -webkit-animation: spin 1s linear infinite;
  /* Safari */
  animation: spin 1s linear infinite;
  display: inline-block;
  vertical-align: middle;
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}


@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
