/*---------------Vores variabler---------------*/
$red: #DDA7A7;
$green: #C9DDCA;
$yellow: #E0DAAB;
$topbar: #F6F6F6;
$lightgrey: #E6E6E6;
$darkgrey: #818181;

/*---------------Vores Inheritances-------------*/
%center {
  display: flex;
  align-items: center;
  justify-content: center;
}

%shadow {
  -webkit-box-shadow: 0px 3px 6px 0 rgba(0, 0, 0, 0.16);
  -moz-box-shadow: 0px 3px 6px 0 rgba(0, 0, 0, 0.16);
  box-shadow: 0px 3px 6px 0 rgba(0, 0, 0, 0.16);
}

%shadowbot {
  -webkit-box-shadow: 0px -2px 3px 0 rgba(0, 0, 0, 0.16);
  -moz-box-shadow: 0px -2px 3px 0 rgba(0, 0, 0, 0.16);
  box-shadow: 0px -2px 3px 0 rgba(0, 0, 0, 0.16);
}

/*---------------Vores Inheritances-------------*/

//////////////////////////////////////////////////////////////////////


* {
  padding: 0;
  margin: 0;

}

body {
  overflow-x: hidden;
}

html {
  font-family: rooney-sans, sans-serif;
  font-style: normal;
  font-weight: 350;
  height: 100%;
  text-align: center;
  width: 100%;
  color: #707070
}


h1 {
  font-size: 2em;
  font-weight: 300;
  letter-spacing: 3px;
}

h4 {
  font-weight: 350;
}
//lul
/* styling af topbar */
.topbar {
  background-color: $topbar;
  color: $topbar;
  padding: 5px 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  @extend %shadow;
  max-height: 64px;
  width: 100%;
  display: flex;
  justify-content: center;

  .topbar-flex {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 90%;
  }

  a img {
    width: 30px;
    height: auto;

  }
}

.left {
  padding-right: 31px;
}

.right {
  text-decoration: none;
  font-weight: bold;
  color: #3b3b3b;
}

#logo {
  max-height: 50px;
  transform-origin: center;

}



/* styling af tabbar */
.tabbar {
  background-color: $topbar;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  @extend %shadowbot;

  img {
    height: 40px;
    width: auto;
  }
}

/* Style på og omkring links i baren */
.tabbar a {
  display: inline-block;
  padding: 10px 26px;

}

/* style ved hover */
.tabbar a:hover {
  background-color: $lightgrey;
}

/* style når en side er aktiv*/
.tabbar a.active {
  background-color: $lightgrey;
}

.page {
  display: none;
  /*min heigh is screen heigh minus height of tab and top bar */
  min-height: calc(100vh - 128px);
  animation: fadeIn 0.4s;
  /* padding equals height of tabbar and topbar */
  padding: 65px 0;
  margin: 0 3%;
}


/* ---------- animations ---------- */
/* fade in */
@keyframes fadeIn {
  from {
    opacity: 0
  }

  to {
    opacity: 1
  }
}


/* FRIDGE SECTION */
#add-button {
  width: 64px;
  height: 64px;
  background-color: #fafafa;
  border: 2px solid #818181;
  border-radius: 100px;
  position: absolute;
  bottom: 70px;
  right: 20px;
  box-shadow: 5px 5px 20px 0px rgba(0, 0, 0, 0.20);
  font-size: 40px;
  font-weight: 500;
  z-index: 100;

  p {
    display: flex;
    height: 64px;
    justify-content: center;
    align-items: center;
    color: #3b3b3b;


  }

}

.rotate-trans {
  transition-duration: 200ms;
  transform: rotate(45deg)
}

.add-button-menu {
  display: none;
  position: absolute;
  background-color: white;
  border: 2px solid $darkgrey;
  border-radius: 25px;
  width: 80%;
  padding: 3%;
  top: 80px;
  right: 25px;
  bottom: 75px;
  transform-origin: bottom right;
  /*


  height: 76vh;
  margin: 3.5%;

 */
}

.add-dato {
  display: none;
  align-items: center;

}


.add-menu-animation {
  animation-name: open-menu;
  animation-duration: 0.3s;
  transform-origin: bottom right;


}

@keyframes open-menu {
  from {
    opacity: 0;
    transform: scale(0);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}


.highlight {
  background-color: $lightgrey;

  p {
    color: $darkgrey;
  }
}

/* ---------- HIDE ---------- */
.hide {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 0.4s, opacity 0.4s linear;
}

/* ---------- authentication styling ---------- */
#firebaseui-auth-container {
  position: absolute;
  top: 50%;
  width: 100%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.firebaseui-container {
  font-family: var(--font-family);
  font: 16px var(--font-family);
}

.firebaseui-title {
  text-align: center;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.mdl-button--raised.mdl-button--colored,
.mdl-button--raised.mdl-button--colored:active,
.mdl-button--raised.mdl-button--colored:hover {
  background: var(--green);
  color: #fff;
  border-radius: 0;
}

.firebaseui-textfield.mdl-textfield .firebaseui-label::after {
  background-color: var(--green);
}

/* ---------- profile ---------- */
#profile form {
  display: flex;
  margin-top: 18%;
  width: 98%;
  height: 60vh;
  border-style: solid;
  border-color: grey;
  border-radius: 25px;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
}

#profile label {
  text-transform: uppercase;
  margin: 1% 0;
  font-size: 1.1em;
}

#profile input {
  font-size: 1.2em;
  color: $darkgrey;
  text-align: center;
  border: solid;
  border-radius: 15px;
}

#profile button {
  border-style: solid;
  border-color: $darkgrey;
  border-radius: 7px;
  padding: 2% 15%;
  background-color: $lightgrey;
  font-family: rooney-sans, sans-serif;
  font-style: normal;
  font-weight: 400;
  text-transform: uppercase;
  margin: 5%;
  font-size: 0.8em;
  background-color: $darkgrey;
  color: white;

}

#profil-ikon {
  width: 15%;
}



/* ---------- SHOPLIST---------- */

#shoplist_baggrund {
  background-image: url('../../images/indkoebsseddel.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 400px;
}

#width-shoplist {
  max-width: 60vh;
  margin: 0 auto;
}

/* The container */
.container {
  top: 15%;
  height: 10vh;
  border-style: solid;
  border-color: grey;
  border-radius: 25px;
  padding: 0 5%;
  position: relative;
  margin: 0 5%;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  font-size: 1em;
}

#shoplist_baggrund div {
  margin-top: 10%;

}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
  background-color: $darkgrey;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 30%;
  left: 80%;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 5px;
  border: solid 0.5px;
  border-color: $lightgrey;
}

/* On mouse-over, add a grey background color */
.container:hover input~.checkmark {
  background-color: $darkgrey;
}

/* When the checkbox is checked, add a blue background */
.container input:checked~.checkmark {
  background-color: $darkgrey;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked~.checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.shop_knap {
  width: 33%;
  height: 6vh;
  background-color: grey;
  border-radius: 12px;
  padding: 0 4%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

}

.shop_knap p {
  font-size: 0.9em;
  color: white;
}

#input_markerAlle,
textarea {
  background-color: $darkgrey;
  color: white;
  font-family: rooney-sans, sans-serif;
  font-style: normal;
  font-weight: 450;
  font-size: 0.9em;
  padding: 0;
  text-transform: uppercase;
}

#flex_shop {
  display: flex;
  flex-direction: row;
  margin-top: 3%;
  justify-content: center;
}

#flex_shop div {
  margin: 0 2%;
}

.skraldespand {
  width: 100%;
  height: 5vh;
}

.skraldespand img {
  height: 4vh;
  float: right;
  margin-right: 7%;
}

/* ---------- Indhold køleskab---------- */

#indhold-skraldespand {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  padding: 0 6% 0 3%;
  margin-top: 5%;
}

#indhold-skraldespand img {
  width: 8%;
  height: 5vh;
}

#indhold-skraldespand h3 {
  text-transform: uppercase;
  text-align: left;
  font-size: 1.8em;
  font-family: abolition, sans-serif;
  font-style: normal;
  font-weight: 400;
  color: #5D5A5A;
  letter-spacing: 2px;

}

.madAppended {
  display: flex;
  width: 95%;
  height: 7vh;
  border-style: solid;
  border-color: $darkgrey;
  border-radius: 15px;
  margin-top: 2%;
  justify-content: space-between;
  padding: 0 5%;
  align-items: center;

  h4 {
    font-size: 1.3em;
  }
}

.mad {
  display: flex;
  width: 90%;
  height: 10vh;
  border-style: solid;
  border-color: grey;
  border-radius: 25px;
  margin-top: 2%;
  justify-content: space-between;
  padding: 0 5%;
  align-items: center;

}

.mad h4 {
  font-size: 1.3em;
}

.madvarer {
  max-width: 100%;
  justify-content: center;
  display: flex;
}

.madvarer img {
  width: 9%;
  height: 9vh;
}

.cirkler {
  border: 2px solid #818181;
  border-radius: 100px;
  margin-top: 10%;
  width: 30px;
  height: 30px;
}

#flex-cirkler {
  display: flex;
  justify-content: space-between;
  margin: 0 15%;
  margin-top: 5%;
}

.udløbet {
  background-color: $red;
}

.udløber {
  background-color: $yellow;

}

.frisk {
  background-color: $green;

}

#flex-cirkler article {
  display: flex;
  align-items: center;
  flex-direction: column;
}

#flex-cirkler p {
  text-transform: uppercase;
  margin-top: 15%;
  ;
}

.page_overskrift {
  text-transform: uppercase;
  margin-top: 6%;
  font-family: abolition, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 2.5em;
  color: #5D5A5A;
  letter-spacing: 2px;
}

/* RECIPEEEEEEEEEEEEEEEES */
#recipe {
  h2 {
    margin-top: 15px;
  }
}

#recipe-container {
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  height: auto;

  img {
    width: 100%;
    height: auto;
    border: 2px solid $darkgrey;
    border-radius: 7px;
  }

}

.children {
  width: 46%;
  max-width: 500px;
  height: auto;
  padding: 2% 2%;
  text-align: left;
}

.recipesearch {
  border: 1px solid $darkgrey;
  border-radius: 7px;
  color: $darkgrey;
  width: 90%;
  margin: 15px auto;
}

input,
select {
  -webkit-appearance: none;
  width: 90%;
  max-width: 350px;
  padding: 12px 12px;
  box-sizing: border-box;
  display: block;
  border: 0;
  border-radius: 0;
}



/* loader */
/* ---------- loader styling ---------- */
#loader {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999999999;
  overflow: hidden;
  background-color: none;
  text-align: center;
}

.spinner {
  border: 5px solid $darkgrey;
  ;
  border-radius: 50%;
  border-top: 5px solid $darkgrey;
  width: 50px;
  height: 50px;
  -webkit-animation: spin 1s linear infinite;
  /* Safari */
  animation: spin 1s linear infinite;
  display: inline-block;
  vertical-align: middle;
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}


@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* ---------- signin ---------- */

.mdl-button--raised.mdl-button--colored {
  background-color: grey;
  color: #fff;
  font-family: rooney-sans, sans-serif;
  font-style: normal;
  font-weight: 350;
  border-radius: 10px;
}

.firebaseui-title {
  text-align: center;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-family: abolition, sans-serif;
  font-style: normal;
  font-size: 2.5em;
  color: $darkgrey;
}

.firebaseui-link {
  color: $darkgrey;
}

.mdl-button--primary.mdl-button--primary{
  color: $darkgrey;
  border: 1px solid $darkgrey;
  border-radius: 7px;
}

.rm{
  color: $darkgrey;

}
